<mat-card class="maincard">
    <mat-card-subtitle align="center" style="color: #4F5359;"> Sign Up</mat-card-subtitle>
    <br>
    
    <mat-card-title align="center" style="color: #4F5359;">Create your account</mat-card-title>
    <br>
    <mat-card-content align="center" style="color: #4F5359;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</mat-card-content>
    <br>
    <button mat-raised-button class="example-button-container" (click)="signInWithGoogle()">Sign up with Google</button>
    <button mat-raised-button class="example-button-container">Sign up with Facebook</button>
    <br>
    <br>

    <mat-form-field  class="input" appearance="outline">
        <input matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
        <input matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
        <input matInput type="email" placeholder="Email Address">
    </mat-form-field>
    <br>
    <mat-form-field  class="input" appearance="outline">
        <input matInput type="password" placeholder="Password" appearance = "outline">
    </mat-form-field>
    <br>
    <button mat-raised-button class="submit-button-container" type="submit" style="color: white;">Sign Up</button>



</mat-card>